{% extends "twitter/auth.html" %}

{% block title %}Login{% endblock %}

{% block page_type %}Log In{% endblock %}

{% block auth_form %}
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="username" placeholder="Steve">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="••••••••••">
    <button type="submit" class="btn btn-outline-primary">Login</button>
{% endblock %}